body, body * {
    font-family: "Courier New", Courier, monospace !important;
}

div#container {
    width: 100%;
    margin: 0 auto;
}

.top-nav nav .container-fluid {
    height:50px;
}

div.navbar-fixed-left a {
    display:table;
}

div.navbar-fixed-left span {
    display:table-cell;
    vertical-align: middle;
    text-decoration: none;
    font: 30px Helvetica, Arial, Sans-Serif;
    color: #999;
    text-shadow: 0px 3px 8px #2a2a2a;
}

div.navbar-fixed-left, div.navbar-fixed-left .top-nav nav{
    border: none !important;
    border-bottom: solid 1px #5d5c5c !important;
    margin-bottom: 0;
    background: #fff url(../images/bg.png);
}

div.content .top-nav nav{
    border: none !important;
    margin-bottom: 0;
}

ul.admin-sidebar li {
    border-radius: 0 !important;
    background: #fff url(../images/bg.png);
    color: #FFFFFF;
    border: none;
}

button.btn-a {
    background: none !important;
    border: none;
    font-family: "Courier New", Courier, monospace !important;
    color: #000;
    text-decoration: none !important;
}

.btn-convert {
    display: flex;
    align-items: center;
    justify-content: center;
}

p.help-block-error {
    font-size: x-small;
    color: #FF0000 !important;
    margin-left: 5px;
    float: inherit;
}

div.session-flash {
    padding: 5px;
    top: 55px;
    right: 10px;
    border: solid 1px black;
    background-color: #FFFFFF;
}

div.session-flash p {
    margin: 0;
}

.navbar-fixed-left {
    width: 15%;
    position: fixed;
    border-radius: 0;
    height: 100%;
}

.navbar-fixed-left + .container {
    padding-left: 17%;
}

div#navbar ul {
    margin: 0!important;
}

div#navbar ul form {
    border: none !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

div#navbar ul form button {
    padding-left: 0 !important;
}

div.row-content {
    margin-left: -10px !important;
}