/**
 * Created by pvhuy84@gmail.com
 * Date: 9/16/2017
 * Time: 10:20 AM
 */
table tr td, th {
    border: 1px solid #b8b8b8;
    padding: 5px;
}

table thead tr {
    background-color: #e2e2e2;
}

table tbody tr:hover {
    background-color: #f6f6f6;
}